header {
    background: linear-gradient(45deg, #c372d9fa, #3f0458de);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.mainnav {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    width: 98%;
}
.actionArea{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}
.mobilebtn {
    display: none;
}

.menuUl {
    padding: 0.5rem 0 0.5rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.mainMenuList {
    margin: 1rem 0.2rem;
    outline: none;
    border-bottom: #e2e0e0 4px double;
    transition: 1s;
}


.link {
    width: 100px;
    font-size: 22px;
    text-decoration: none;
    display: block;
    padding: 1rem 0.2rem;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
transition: 0.7s ease all;
}

.menuUl>li>.link:hover {
    transform: scale(1.1);
    border-radius: 5px;
    text-shadow: black 1px 0 5px;
    color: #e2e0e0;
    transition: 0.7s ease all;
}


.link h6{
    color: #e2e0e0;
    font-size: 18px;
}

.write {
    background-color: #0a0a0a;
    border: 1px black solid;
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    transition: 1s ease all;
}

.write:hover {
    width: 63px;
    height: 63px;
    color: #68317E;
    columns: teal;
    background-color: #fff;
    border: 1px solid black;
}

.userDisplay{
    padding: 1px;
    color:#fff;
    text-decoration: none;
}
@media only screen and (max-width: 766px) {
    header {
        width: 100%;
    }

    .mainnav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 88%;
        margin: 0 auto;
    }

    .mainnav>.menuUl {
        display: none;
    }

    .menuUl {
        width: 100%;
        padding-right: 2rem;
    }

    .menuUl>li>a:hover,
    .menuUl>li:hover {
        opacity: 0.7;
    }

    .menuUl>li>a:active,
    .menuUl>li:active {
        background: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgb(207, 8, 8);
        border: rgb(148, 75, 75) solid 2px;
        transform: scale(0.8);
    }

    .mobilebtn {
        display: block;
        border: none;
        padding: 1rem;
    }

    .responsive {
        transition: 2s;
    }

    .mainnav.responsive .menuUl {
        display: block;
        background: white;
        color: black;
    }

    .mainnav.responsive ul li {
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        box-shadow: none;
        border-bottom: 1px solid #546cac;
    }

    .mainnav.responsive ul li a {
        display: block;
        padding: 0px;
        text-align: center;
        width: 98%;
    }

    .mainnav.responsive ul li:hover {
        background: #546cac;
        color: white;
        display: block;
    }

    /* ---- humberger -------------- */
    header {
        position: relative;
        background: white;
    }

    span.MuiSvgIcon-_root>svg {
        width: 100px;
        height: fit-content;
        transition: 1s all;
        box-shadow: 0 0 10px black;
        border: #9f9b9b solid 1px;
        border-radius: 50%;
        cursor: pointer;
    }

    .MuiSvgIcon-root:active {
        transform: scale(0.8);
        box-shadow: 0 0 5px black;
    }

    .MuiSvgIcon-root:hover {
        transition: 0.8s all;
        box-shadow: 0 0 10px rgb(207, 8, 8);
        border: rgb(148, 75, 75) solid 2px;
    }

}